body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position:relative;
    bottom: 0;
    width: 100%;
}

i {
    font-size: medium;
    color: aliceblue;
}

.a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.b{
    margin-left: auto;
    margin-right: auto;
}

.d1 {
    padding: 50px;
}

.d2 {
    margin-left: auto;
}

img {
    border-radius: 50%;
    max-width: auto;
    height: 250px;
    margin: 10px;
}

@media (max-width: 600px) {
    section ul {
        margin: 10px;
    }
}